<%- include('partials/header'); -%>

<h1>COPMPOSE</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label class="form-label">Title</label>
        <input class="form-control" type="text" name="title">
        <label class="form-label" for="">Post</label>
        <textarea  class="form-control" id="w3review" name="post" rows="5" cols="30"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="Button">Publish</button>
</form>



<%- include('partials/footer'); -%>